<div *ngIf="auth.user$ | async; then authenticated; else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest class="login">
  <div class="login">
    <h3>Hello, User!</h3>
    <p>You may now login with google</p>

    <button class="btn1 btn--primary" (click)="auth.googleSignin()">
      <a href="/">Login with Google</a>
    </button>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="login">
    <a href="./" class="btn btn--accent">Go to main page</a>
  </div>
</ng-template>
