<h1>
  <span class="not-in-mobile">Total Number of Families are:</span>
  {{ TotFamilies }}
</h1>

<table class="table table-striped table-bordered">
  <thead>
    <th scope="col">Apartment Name</th>
    <th scope="col">Assosiation Name</th>
    <th scope="col">No. of Families</th>
    <th scope="col"></th>
  </thead>
  <tbody *ngFor="let apartment of Apartments">
    <tr (click)="select(apartment)">
      <td>{{ apartment.apartmentName }}</td>
      <td>{{ apartment.associationName }}</td>
      <td>{{ apartment.numOfFamilies }}</td>
      <td>
        <i
          class="bi bi-square ps-5"
          *ngIf="!selectedAPTS.includes(apartment)"
        ></i>
        <i
          class="bi bi-check-square ps-5"
          *ngIf="selectedAPTS.includes(apartment)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
