
<div class="calc-page container div">
  <div>
    <div class="card calc__main-calcs fixed-top flex-row flex-nowrap">
      <div class="card-body">
        <p class="total">
          Number of Apartments Selected: {{ selectedAPTS.length }}
        </p> <p class="total">
          Total Number of Families: {{ TotFamiliesSelected }}
        </p>
        <p class="total">
          The Total Amount is Rs.{{ GrandTotal }}
        </p>
      </div>
    </div>        
  </div>

  
  <div class="container calc-page__table-container">
      <ag-grid-angular
        [rowData]="Apartments"
        [columnDefs]="colDefs"
        class="ag-theme-alpine"
        [defaultColDef]="defaultColDef"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        [rowMultiSelectWithClick]="true"

        (firstDataRendered)="onFirstDataRedndered($event)"
        (selectionChanged)="calculate()"
        style="height: 100vh; width: auto">
      >

      </ag-grid-angular>
    </div>




      <!-- <table class="table table-bordered calc-page__table">
        <thead>
          <th class="calc-page__table__th" scope="col">Apartment Name</th>
          <th class="calc-page__table__th" scope="col">Association Name</th>
          <th class="calc-page__table__th" scope="col">No. of Families</th>
          <th class="calc-page__table__th" scope="col"></th>
        </thead>
        <tbody *ngFor="let apartment of Apartments">
          
          <tr (click)="select(apartment)">
            <td class="calc-page__table__td">{{ apartment.apartmentName }}</td>
            <td class="calc-page__table__td">{{ apartment.associationName }}</td>
            <td class="calc-page__table__td">{{ apartment.numOfFamilies }}</td>
            <td class="calc-page__table__td">
              <i
                class="bi bi-square ps-5"
                *ngIf="!selectedAPTS.includes(apartment)"
              ></i>
              <i
                class="bi bi-check-square ps-5"
                *ngIf="selectedAPTS.includes(apartment)"
              ></i>
            </td>
          </tr>
          
        </tbody>
      </table>   -->
<!-- <ag-grid-angular
  [rowData]="Apartments"
  [columnDefs]="colDefs"
  class="ag-theme-alpine"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  [rowMultiSelectWithClick]="true"
  
  (selectionChanged)="calculate()"
  style="height: 500px; width: 500px;">
>

</ag-grid-angular>
<div style="color: dodgerblue; height: 100vh;"></div> -->