<!-- <nav class="nav">
  <a href="/"><img src="../../../images/logo.svg" alt="" /></a>
  <svg class="icon icon--primary">
    <use xlink:href="../../../images/sprite.svg#menu"></use>
  </svg>
  <ul class="list">
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
  </ul>
</nav> -->
<nav class="nav collapsible" id="nav" (click)="toggle()" *ngIf="user">
  <a class="nav__brand" href="./index.html">
    <p>A3 panel rate calculator</p>
  </a>
  <svg class="icon icon--white nav__toggler">
    <use href="../../assets/images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item" *ngIf="user && user.roles.admin">
      <a href="admin">Admin Page</a>
    </li>
    <li class="nav__item" *ngIf="user && user.roles.admin">
      <a href="user-management">Failure Management</a>
    </li>
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item">
      <a href="login" (click)="auth.signOut()">Logout</a>
    </li>
  </ul>
</nav>

<script src="./main.js"></script>
