<!-- <nav class="nav">
  <a href="/"><img src="../../../images/logo.svg" alt="" /></a>
  <svg class="icon icon--primary">
    <use xlink:href="../../../images/sprite.svg#menu"></use>
  </svg>
  <ul class="list">
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
    <li><a href="#">Hosting</a></li>
  </ul>
</nav> -->
<!-- <nav class="nav collapsible" id="nav" (click)="toggle()" *ngIf="user">
  <a class="nav__brand" href="./index.html">
    <p>A3 panel rate calculator</p>
  </a>
  <svg class="icon icon--white nav__toggler">
    <use href="../../assets/images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item" *ngIf="user && user.roles.admin">
      <a href="admin">Admin Page</a>
    </li>
    <li class="nav__item" *ngIf="user && user.roles.admin">
      <a href="user-management">Failure Management</a>
    </li>
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item">
      <a href="login" (click)="auth.signOut()">Logout</a>
    </li>
  </ul>
</nav> -->

<script src="./main.js"></script>

<nav class="navbar navbar-expand-lg bg-dark d-flex sticky-top">
  <div class="container-fluid">
    <a style="color: white; padding: 1rem" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg class="icon icon--white nav__toggler navbar-toggler-icon">
        <use href="../../assets/images/sprite.svg#menu"></use>
      </svg>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav d-flex justify-content-end">
        <a style="color: #d2d0db" class="nav-link" href="#">Home</a>
        <a
          style="color: #d2d0db"
          class="nav-link"
          href="user-management"
          *ngIf="user && user.roles.admin"
          >User Management</a
        >
        <a
          style="color: #d2d0db"
          class="nav-link"
          href="admin"
          *ngIf="user && user.roles.admin"
          >Admin</a
        >
        <a
          style="color: #d2d0db"
          class="nav-link"
          href="login"
          (click)="auth.signOut()"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>
